.productCardContainer {
  width: 300px;
  left: 0px;
  top: 0px;
  background: #FCFCFC;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1)) drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 30px;
}

#starContainer {
  display: flex;
  max-height: 30px;
  height: 30x;
  margin-top: -25px;
  margin-bottom: -15px;
}

#stars {
  padding-left: 20px;
}

#description {
  padding-bottom: 70px;
}

#buttonAddToCart {
  width: 259px;
  height: 48px;
  background: #3655C7;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
}

#priceText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.007em;
  color: #FCFCFC;
}

#countText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-left: 10px;
  letter-spacing: 0.007em;
  color: #D4D9E6;
  text-align: left;
}

#checkoutImage {
  width: 222px;
  height: 179px;
  background: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 0px 20px;
}

#checkoutCardContainer {
  width: 1280px;
  height: 179px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-bottom: 30px;
}

#removeItem {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #D94A4A;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

#trashCanIMG {
  margin-top: 10px;
  cursor: pointer;
  margin-left: 90px;
}

#price {
  width: 84px;
  height: 29px;
  left: 1252px;
  top: 537px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.007em;
  color: #3655C7;
}

#title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.007em;
  color: #1C2025;
  margin-top: -6px;
}

#description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.007em;
  color: #303030;
}

.paddingAround {
  padding-left: 20px;
  padding-right: 20px;
}

.stars {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}