#userName {
  color: #3655C7;
  font-weight: 500;
  cursor: pointer;
}

#productQuantity {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #D94A4A;
  color: white;
  text-align: center;
}
