#HContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#productQuantity {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #D94A4A;
  color: white;
  text-align: center;
}

#userName {
  color: #3655C7;
  font-weight: 500;
  cursor: pointer;
}

#ArkosLogo {
  margin-top: 16px;
  margin-left: 80px;
  position: absolute;
}

#quantityContainer {
  display: 'flex';
  flex-direction: 'row-reverse';
  margin-right: '-20px';
}





